dist/index.html
<!doctype html><html lang="en"><head><meta charset="UTF-8"><title>Naos</title><meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"><meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1"><link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&amp;display=swap" rel="stylesheet"><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"><link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"><link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css"><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"><style>.preloader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 9999;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(26, 20, 27);
}

.preloader.hide {
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease-in-out;
}

.preloader .preloader__image {
  max-width: 100%;
}

.preloader .preloader__image img {
  max-width: 200px;
}

@media screen and (min-width: 992px) {
  .preloader .preloader__image {
    max-width: 50%;
  }

  .preloader .preloader__image img {
    width: 100%;
    height: auto;
    max-width: none;
  }
}</style><script>document.addEventListener('DOMContentLoaded', function () {
  const html = document.getElementsByTagName('html')[0]

  html.style.overflow = 'hidden'
})

window.onload = function () {
  const html = document.getElementsByTagName('html')[0]
  const preloader = document.querySelectorAll('.preloader')[0]

  setTimeout(() => {
    html.style.overflow = 'auto'
    preloader.classList.add('hide')
  }, 1500)
  setTimeout(() => {
    preloader.remove()
  }, 2500)
}</script><link rel="icon" href="favicon.svg" type="image/svg+sml"><link rel="icon" href="/favicon.svg"><link href="/styles/main.css" rel="stylesheet"></head></html><body><div class="preloader"><div class="preloader__image"><img src="/images/preloader.gif" alt="Загрузка"></div></div><header class="header" data-animation="show-with-fade"><div class="container-fluid"><div class="header__row"><div class="header__logo"><div class="header__flares"><img class="header__flare" src="/images/flare.svg" alt="Flare"></div><img class="header__logo-img" src="/images/logo.svg" alt="Logo"></div><div class="socials d-flex d-lg-none"><a class="social-link" href="/" target="_blank" rel="nofollow"><span class="social-icon"><img src="/images/linkedin.svg" alt="Linkedin"></span></a><a class="social-link" href="/" target="_blank" rel="nofollow"><span class="social-icon"><img src="/images/facebook.svg" alt="Facebook"></span></a><a class="social-link" href="/" target="_blank" rel="nofollow"><span class="social-icon"><img src="/images/telegram.svg" alt="Telegram"></span></a></div></div></div></header><main id="main-page"><section class="main-section"><figure class="star-mask"><img class="star-pattern" src="/images/pattern.png" alt="pattern"></figure><div class="container-fluid"><div class="row"><div class="col-12 col-lg-6 col-slider"><div class="slider-wrap"><div class="slider main-slider"><div class="slide"><div class="main-section__info"><div class="main-section__title-wrap"><h2 class="section-title" data-animation="show-transform-20" data-delay="200">Lead your business to the next level with the Naos blockchain solutions provider</h2></div><p class="section-description" data-animation="show-transform-20" data-delay="500">Reassemble your business processes with the blockchain and tokenization to get them more transparent, fast, controllable and scalable.</p></div></div><div class="slide"><div class="main-section__info"><div class="main-section__title-wrap"><h2 class="section-title" data-animation="show-transform-20" data-delay="200">The tokenization drives real-estate development business to a state-the-art capitalization approach</h2></div><p class="section-description" data-animation="show-transform-20" data-delay="500">Collective investments in the square units of whole building project shifting the paradigm of development funding</p></div></div><div class="slide"><div class="main-section__info"><div class="main-section__title-wrap"><h1 class="section-title" data-animation="show-transform-20" data-delay="200">Tokenize your assets to share it with the entire world</h1></div><p class="section-description" data-animation="show-transform-20" data-delay="500">Blockchain solution designed to inspire new ways of the investments for startups, accelerators, and funds.</p></div></div></div><button class="custom-button slider-button" type="button" data-animation="show-transform-20" data-delay="700"><span>Request a demo</span><img class="svg" src="/images/button_arrow.svg" alt="Arrow"></button><div class="slider-progress" data-animation="show-clip-right" data-delay="700"><span class="slider-progress-bar"></span></div></div></div><div class="col-12 col-lg-6 col-star" data-animation="show-with-fade" data-delay="1200"><div class="star-wrap"><img class="star-pulse" src="/images/pulse.svg"><img class="star-blur" src="/images/star_blur.png" alt="blur"></div><div class="comets-wrap"></div></div></div></div></section><section class="contact-section hide" id="contact"><div class="form-wrap col-contact hide" id="contact-form"><h5 class="contact-section__back-title">back</h5><div class="main-section__title-wrap"><div class="title-overflow"><h2 class="section-title">Contact us</h2></div></div><form class="form-container" action="/" method="post"><div class="form-group w-lg-50"><input class="form-control" name="name" required placeholder="First name"><label class="form-label">First name</label></div><div class="form-group w-lg-50"><input class="form-control" name="lastName" placeholder="Last name"><label class="form-label">Last name</label></div><div class="form-group w-lg-50"><input class="form-control" name="companyName" placeholder="Company name"><label class="form-label">Company name</label></div><div class="form-group w-lg-50"><input class="form-control" name="position" placeholder="Position"><label class="form-label">Position</label></div><div class="form-group w-lg-50"><input class="form-control" name="website" placeholder="Website"><label class="form-label">Website</label></div><div class="form-group w-lg-50"><input class="form-control" type="tel" name="phone" required placeholder="Phone"><label class="form-label">Phone</label></div><div class="form-group"><input class="form-control" type="email" name="email" required placeholder="Email"><label class="form-label">Email</label></div><div class="form-group"><textarea class="form-control" rows="4" name="message" placeholder="Message"></textarea><label class="form-label">Message</label></div><div class="form-group form-group-checkbox"><div class="form-checkbox"><label class="checkbox-label"><input type="checkbox" name="confirm"><span class="checkbox-checkmark"></span><span class="checkbox-text">I agree with terms and conditions</span></label></div><button class="custom-button full-width" type="submit"><span>Send</span></button></div></form></div></section><div class="socials d-none d-lg-flex"><a class="social-link" href="/" target="_blank" rel="nofollow" data-animation="show-transform-20" data-delay="900"><span class="social-icon"><img src="/images/linkedin.svg" alt="Linkedin"></span><span>LinkedIn</span></a><a class="social-link" href="/" target="_blank" rel="nofollow" data-animation="show-transform-20" data-delay="1000"><span class="social-icon"><img src="/images/facebook.svg" alt="Facebook"></span><span>Facebook</span></a><a class="social-link" href="/" target="_blank" rel="nofollow" data-animation="show-transform-20" data-delay="1100"><span class="social-icon"><img src="/images/telegram.svg" alt="Telegram"></span><span>Telegram</span></a><a class="social-link email-link" href="mailto:info@neosef.com" target="_blank" data-animation="show-transform-20" data-delay="1200"><span>info@neosef.com</span></a></div></main><script src="https://code.jquery.com/jquery-3.6.0.min.js"></script><script src="https://cdn.jsdelivr.net/npm/bootstrap-notify@3.1.3/bootstrap-notify.min.js"></script><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script><script src="https://unpkg.com/aos@next/dist/aos.js"></script><script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/4.0.9/inputmask/inputmask.min.js"></script><script defer="defer" src="/js/main.bundle.js"></script></body>

src/pages/index.pug
extends layout/layout

block vars
  - var title = "Naos"

append content
  main#main-page
    section.main-section
      figure.star-mask
        img.star-pattern(src="/images/pattern.png" alt="pattern")
      .container-fluid
        .row
          .col-12.col-lg-6.col-slider
            .slider-wrap
              .slider.main-slider
                .slide
                  .main-section__info
                    .main-section__title-wrap
                      h2.section-title(data-animation="show-transform-20" data-delay="200")
                        | Lead your business to the next level with the Naos blockchain solutions provider
                    p.section-description(data-animation="show-transform-20" data-delay="500")
                      | Reassemble your business processes with the blockchain and tokenization to get them more transparent, fast, controllable and scalable.
                .slide
                  .main-section__info
                    .main-section__title-wrap
                      h2.section-title(data-animation="show-transform-20" data-delay="200")
                        | The tokenization drives real-estate development business to a state-the-art capitalization approach
                    p.section-description(data-animation="show-transform-20" data-delay="500")
                      | Collective investments in the square units of whole building project shifting the paradigm of development funding
                .slide
                  .main-section__info
                    .main-section__title-wrap
                      h1.section-title(data-animation="show-transform-20" data-delay="200")
                        | Tokenize your assets to share it with the entire world
                    p.section-description(data-animation="show-transform-20" data-delay="500")
                      | Blockchain solution designed to inspire new ways of the investments for startups, accelerators, and funds.
              button.custom-button.slider-button(type="button" data-animation="show-transform-20" data-delay="700")
                span Request a demo
                img.svg(src="/images/button_arrow.svg" alt="Arrow")
              .slider-progress(data-animation="show-clip-right" data-delay="700")
                span.slider-progress-bar
          .col-12.col-lg-6.col-star(data-animation="show-with-fade" data-delay="1200")
            .star-wrap
              img.star-pulse(src="/images/pulse.svg")
              img.star-blur(src="/images/star_blur.png" alt="blur")
            .comets-wrap
    section#contact.contact-section.hide
      #contact-form.form-wrap.col-contact.hide
        h5.contact-section__back-title back
        .main-section__title-wrap
          .title-overflow
            h2.section-title Contact us
        form.form-container(action="/" method="post")
          .form-group.w-lg-50
            input.form-control(type="text" name="name" required placeholder="First name")
            label.form-label First name
          .form-group.w-lg-50
            input.form-control(type="text" name="lastName" placeholder="Last name")
            label.form-label Last name
          .form-group.w-lg-50
            input.form-control(type="text" name="companyName" placeholder="Company name")
            label.form-label Company name
          .form-group.w-lg-50
            input.form-control(type="text" name="position" placeholder="Position")
            label.form-label Position
          .form-group.w-lg-50
            input.form-control(type="text" name="website" placeholder="Website")
            label.form-label Website
          .form-group.w-lg-50
            input.form-control(type="tel" name="phone" required placeholder="Phone")
            label.form-label Phone
          .form-group
            input.form-control(type="email" name="email" required placeholder="Email")
            label.form-label Email
          .form-group
            textarea.form-control(rows="4" name="message" placeholder="Message")
            label.form-label Message
          .form-group.form-group-checkbox
            .form-checkbox
              label.checkbox-label
                input(type="checkbox" name="confirm")
                span.checkbox-checkmark
                span.checkbox-text I agree with terms and conditions
            button.custom-button.full-width(type="submit")
              span Send
    .socials.d-none.d-lg-flex
      a.social-link(href="/" target="_blank" rel="nofollow" data-animation="show-transform-20" data-delay="900")
        span.social-icon
          img(src="/images/linkedin.svg" alt="Linkedin")
        span LinkedIn
      a.social-link(href="/" target="_blank" rel="nofollow" data-animation="show-transform-20" data-delay="1000")
        span.social-icon
          img(src="/images/facebook.svg" alt="Facebook")
        span Facebook
      a.social-link(href="/" target="_blank" rel="nofollow" data-animation="show-transform-20" data-delay="1100")
        span.social-icon
          img(src="/images/telegram.svg" alt="Telegram")
        span Telegram
      a.social-link.email-link(href="mailto:info@neosef.com" target="_blank" data-animation="show-transform-20" data-delay="1200")
        span info@neosef.com
